@font-face {
	font-family: "Oxygen";
	src: url("assets/oxygen-regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--standard-padding: 0.6rem;
	--small-padding: 0.3rem;
	--standard-border-radius: 0.1rem;
	--message-letter-size: 1.5rem;
	--message-line-height: 1.75rem;
	--message-gap: 0.4rem;
	--font-size: 20px;
	--small-font-size: 0.7rem;
	--small-font-line-height: 1.1rem;

	--col-font-dull-1: #a8a8a8;
	--col-font-dull-2: #3e4248;
	--col-font-text: #ffffff;
	--col-font-message-letter: #34343a;
	--col-font-message-indices: #222329;

	--col-bg: #2d3744;
	--col-bg-panel: #292e37;
	--col-fg-panel: #444d59;
	--col-fg-panel-hovered: #3c434c;
	--col-bg-button: #8c949e;
	--col-bg-button-hovered: #6a707a;

	--col-bg-toggle-button: #424a54;
	--col-bg-toggle-button-active: #626975;
	--col-bg-toggle-button-hovered: #969fac;
	--col-bg-toggle-button-label: #848e9c;
	--col-bg-toggle-button-label-active: #b4beca;
	--col-bg-toggle-button-label-hovered: #e7ebef;

	--col-bg-isomorph: #2e353d;
	--col-bg-isomorph-selected: #576171;
	--col-bg-isomorph-hover: #6c7787;
	--col-bg-isomorph-pattern: #8c949e;
	--col-bg-isomorph-pattern-selected: #a7b1bd;
	--col-bg-isomorph-pattern-hovered: #c3cbd4;

	--col-bg-message-letter: #4c5663;

	box-sizing: border-box;
	font-family: "Cousine", monospace;
	font-size: var(--font-size);
}

body {
	background-color: var(--col-bg);
}

/* -------------------------------------- Layout -------------------------------------- */

body {
	height: 100%;
	overflow: hidden;
}

.layout-outer {
	max-width: 1600px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: var(--standard-padding);
	padding: var(--standard-padding);
	margin: 0 auto;
}

.layout-row-1 {
	flex: 0;
}

.layout-row-2 {
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: var(--standard-padding);
	overflow: hidden;
	align-items: start;
}

.layout-row-2 > div {
	flex: 1;
	height: fit-content;
	min-height: 5rem;
	max-height: 100%;
}

body.fullscreen .layout-row-2 > div {
	height: 100%;
}

body.fullscreen .layout-outer {
	max-width: unset;
	margin: unset;
	height: 100%;
	gap: var(--small-padding);
	padding: var(--small-padding);
}

body.fullscreen .layout-row-2 {
	gap: var(--small-padding);
}

/* -------------------------------------- Messages Panel -------------------------------------- */

#messages-panel {
	padding: var(--standard-padding);
	border-radius: var(--standard-border-radius);
	display: flex;
	flex-direction: column;
	gap: var(--standard-padding);
	background-color: var(--col-bg-panel);
}

.messages-toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--standard-padding);
	flex-wrap: wrap;
}

.messages-toolbar-label {
	color: var(--col-font-dull-1);
}

.messages-toolbar-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: var(--standard-border-radius);
	background-color: var(--col-bg-toggle-button);
	cursor: pointer;
	user-select: none;
	color: var(--col-font-text);
	padding: 0.3rem var(--standard-padding);
	text-align: center;
	text-wrap: nowrap;
}

.messages-toolbar-option.active {
	background-color: var(--col-bg-toggle-button-active);
}

.messages-toolbar-option:hover {
	background-color: var(--col-bg-toggle-button-hovered);
}

.messages-toolbar-option-image {
	flex-shrink: 0;
	width: var(--message-letter-size);
	height: var(--message-letter-size);
	border-radius: var(--standard-border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--col-bg-toggle-button-label);
	cursor: pointer;
}

#messages-panel-content {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: var(--col-fg-panel);
	border-radius: var(--standard-border-radius);
	overflow: hidden;
	overflow-x: auto;
	padding-bottom: var(--standard-padding);
}

#messages-column-indices {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: var(--message-gap);
	margin-left: var(--message-letter-size);
	padding-left: var(--message-gap);
}

#messages-row-indices {
	margin-top: var(--message-letter-size);
	position: sticky;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: var(--message-gap);
	padding-top: var(--message-gap);
	background-color: var(--col-fg-panel);
}

#messages-list {
	margin-top: var(--message-letter-size);
	display: flex;
	flex-direction: column;
	padding: var(--message-gap);
	gap: var(--message-gap);
	padding-bottom: 0;
}

#messages-column-indices div,
#messages-row-indices div {
	flex-shrink: 0;
	width: var(--message-letter-size);
	height: var(--message-letter-size);
	text-align: center;
	line-height: var(--message-line-height);
	color: var(--col-font-message-indices);
}

.message {
	display: flex;
	gap: var(--message-gap);
}

.message div {
	flex-shrink: 0;
	width: var(--message-letter-size);
	height: var(--message-letter-size);
	text-align: center;
	line-height: var(--message-line-height);
	background-color: var(--col-bg-message-letter);
	color: var(--col-font-message-letter);
	border-radius: var(--standard-border-radius);
}

.message div.outlined {
	border: 1px solid;
	line-height: calc(var(--message-line-height) - 2px);
}

.message div.highlighted {
	box-shadow: 0 0 0.4rem 0.05rem rgba(0, 0, 0, 0.2);
}

#messages-list.clickable-letters .message div {
	cursor: pointer;
}

#messages-list.clickable-letters .message div:hover {
	filter: brightness(1.1);
}

body.tight-spacing #messages-row-indices,
body.tight-spacing #messages-column-indices,
body.tight-spacing #messages-list,
body.tight-spacing .message {
	gap: unset;
}

body.tight-spacing .message div {
	border-radius: unset;
}

body.tight-spacing .message div.highlighted {
	box-shadow: unset;
}

/* -------------------------------------- Config Panel -------------------------------------- */

#config-panel {
	background-color: var(--col-bg-panel);
	border-radius: var(--standard-border-radius);
	padding: var(--standard-padding);
	color: var(--col-font-dull-2);
	max-width: 25rem;
}

#isomorph-generator {
	flex-shrink: 0;
	display: block;
}

#isomorph-generator .content {
	border-radius: var(--standard-border-radius);
	background-color: var(--col-fg-panel);
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: calc(var(--standard-padding) * 0.5);
	padding: var(--standard-padding);
}

#isomorph-generator .title {
	font-size: 1rem;
	color: #c3c3c3;
	margin-bottom: var(--standard-padding);
}

#isomorph-generator-generate-button {
	user-select: none;
	cursor: pointer;
	text-align: center;
	border-radius: var(--standard-border-radius);
	background-color: var(--col-bg-button);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: var(--col-font-text);
	padding: 0.2rem 0.4rem;
	margin-top: 0.4rem;
}

#isomorph-generator-generate-button:hover {
	background-color: var(--col-bg-button-hovered);
}

#isomorph-generator-generate-button .spinner {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	border: 0.2rem solid transparent;
	border-top-color: rgb(35, 35, 35);
	animation: spin 1s linear infinite;
}

.isomorph-generator-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
	margin: auto;
}

.isomorph-generator-option .label {
	color: #c3c3c3;
	text-wrap: nowrap;
	padding-right: 0.4rem;
}

.isomorph-generator-option input[type="text"] {
	width: 5rem;
	height: 1.7rem;
	border-radius: var(--standard-border-radius);
	background-color: var(--col-bg-button);
	color: black;
	text-align: center;
	border: none;
	outline: none;
}

.isomorph-generator-option input[type="checkbox"] {
	width: 1.2rem;
	height: 1.3rem;
	border-radius: var(--standard-border-radius);
	background-color: var(--col-bg-button);
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

/* -------------------------------------- Inspect Panel -------------------------------------- */

#inspector-panel {
	overflow: hidden;
	background-color: var(--col-bg-panel);
	border-radius: var(--standard-border-radius);
	padding: var(--standard-padding);
	color: var(--col-font-dull-2);
	display: flex;
	gap: var(--standard-padding);
}

.inspector-info-row {
	padding: 0 1rem;
	min-height: 1rem;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	overflow: hidden;
}

.inspector-info-row div {
	color: var(--col-font-dull-1);
	text-wrap: nowrap;
}

/* --------------------- Isomorphs Inspector --------------------- */

#isomorphs-inspector,
#shared-pt-inspector {
	border-radius: var(--standard-border-radius);
	display: flex;
	flex-direction: column;
	gap: var(--standard-padding);
	background-color: var(--col-bg-panel);
	overflow: hidden;
	max-height: 100%;
	width: 100%;
}

#isomorphs-inspector-list,
#shared-pt-inspector-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: var(--standard-padding);
	gap: var(--message-gap);
	align-content: baseline;
	background-color: var(--col-fg-panel);
	border-radius: var(--standard-border-radius);
	overflow-y: auto;
	max-height: 25rem;
	width: 100%;
}

body.fullscreen #isomorphs-inspector-list,
body.fullscreen #shared-pt-inspector-list {
	max-height: unset;
}

#isomorphs-inspector-list .empty,
#shared-pt-inspector-list .empty {
	color: var(--col-font-text);
	text-align: center;
	flex-shrink: 0;
	margin: auto;
}

#isomorphs-inspector .isomorph,
#shared-pt-inspector .isomorph {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: fit-content;
	padding: 0.4rem;
	justify-content: center;
	align-items: center;
	background-color: var(--col-bg-isomorph);
	border-radius: var(--standard-border-radius);
	user-select: none;
	cursor: pointer;
}

#isomorphs-inspector .isomorph .pattern,
#shared-pt-inspector .isomorph .pattern {
	padding: 0.3rem;
	background-color: var(--col-bg-isomorph-pattern);
	border-radius: var(--standard-border-radius);
}

#isomorphs-inspector .isomorph .label,
#shared-pt-inspector .isomorph .label {
	vertical-align: middle;
	padding: 0 0.8rem;
	color: var(--col-font-text);
}

#isomorphs-inspector .isomorph .score,
#shared-pt-inspector .isomorph .score {
	padding: 0 0.2rem 0 0;
	color: var(--col-font-dull-1);
}

#isomorphs-inspector .isomorph.selected,
#shared-pt-inspector .isomorph.selected {
	background-color: var(--col-bg-isomorph-selected);
}

#isomorphs-inspector .isomorph.selected .pattern,
#shared-pt-inspector .isomorph.selected .pattern {
	background-color: var(--col-bg-isomorph-pattern-selected);
}

#isomorphs-inspector .isomorph:hover,
#shared-pt-inspector .isomorph:hover {
	background-color: var(--col-bg-isomorph-hover);
}

#isomorphs-inspector .isomorph:hover .pattern,
#shared-pt-inspector .isomorph:hover .pattern {
	background-color: var(--col-bg-isomorph-pattern-hovered);
}

#isomorphs-inspector-selection {
	height: fit-content;
	border-radius: var(--standard-border-radius);
	background-color: var(--col-bg-panel);
	display: flex;
	flex-direction: column;
	gap: var(--standard-padding);
}

#isomorphs-inspector-selection-list {
	background-color: var(--col-fg-panel);
	border-radius: var(--standard-border-radius);
	padding: calc(var(--message-gap) * 0.5);
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: fit-content;
}

#isomorphs-inspector-selection-list .empty {
	color: var(--col-font-text);
	text-align: center;
	flex-shrink: 0;
	margin: auto;
	margin-top: 2rem;
}

#isomorphs-inspector-selection-list .selection-message {
	display: flex;
	gap: var(--message-gap);
	padding: calc(var(--message-gap) * 0.5);
	cursor: pointer;
	transition: background 0.2s;
	align-items: center;
}

#isomorphs-inspector-selection-list .selection-message:hover {
	background-color: var(--col-fg-panel-hovered);
}

#isomorphs-inspector-selection-list .selection-letter {
	flex-shrink: 0;
	width: var(--message-letter-size);
	height: var(--message-letter-size);
	border-radius: var(--standard-border-radius);
	text-align: center;
	line-height: var(--message-line-height);
	box-shadow: 0 0 0.4rem 0.05rem rgba(0, 0, 0, 0.2);
}

#isomorphs-inspector-selection-list .selection-letter.warning {
	outline: 0.1rem solid red;
}

#isomorphs-inspector-selection-list .selection-message-indices {
	color: var(--col-font-dull-1);
	background-color: var(--col-bg-isomorph);
	padding: calc(var(--message-gap) * 0.5);
	border-radius: var(--standard-border-radius);
	height: var(--message-letter-size);
	text-align: center;
	line-height: var(--small-font-line-height);
	font-size: var(--small-font-size);
	flex-shrink: 0;
	width: 180px;
}
